h2 {
    padding-top: 60px;
    padding-bottom: 10px;
    margin: auto;
    text-align: center;
  }
  
  .search-field {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px; /* Ajustez la largeur maximale selon vos besoins */
    margin: 0 auto;
  }

  .mat-column-poste,
  .mat-column-jour,
  .mat-column-espace,
  .mat-column-creneau,
  .mat-column-referent,
  .mat-column-actions
  {
    width: 16.6%; 
  }
  