<h2>Modifier le Nombre de Places</h2>

<div class="container">
<mat-form-field class="search-field">
  <mat-label>Sélectionner un espace</mat-label>
  <mat-select [(ngModel)]="selectedEspace" [ngModelOptions]="{ standalone: true }">
    <mat-option *ngFor="let espace of data.espaces" [value]="espace">{{ espace.libelleEspace }} </mat-option>    
  </mat-select>
</mat-form-field>

<mat-form-field class="search-field">
  <mat-label>Sélectionner un créneau</mat-label>
  <mat-select [(ngModel)]="selectedCreneau" [ngModelOptions]="{ standalone: true }">
    <mat-option *ngFor="let creneau of data.creneaux" [value]="creneau">{{ creneau.heureDebut }} - {{ creneau.heureFin }} ({{ creneau.jourCreneau }})</mat-option>    
  </mat-select>
</mat-form-field>

<div>
  <label for="inputNombrePlaces">Nouveau Nombre de Places:</label>
  <input id="inputNombrePlaces" type="number" [(ngModel)]="newNumberOfPlaces" required>
</div>

<div class="dialog-buttons">
  <button mat-button (click)="onNoClick()">Annuler</button>
  <button mat-button (click)="onSaveClick()">Enregistrer</button>
</div>

</div>