/* creneau-dialog.component.css */

:host {
    display: block;
    position: relative;
  }
  
  /* Espacement et disposition des éléments */
  h2, form, button {
    padding: 30px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  button {
    width: 150px;
    padding: 10px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #CCCCCC;
    cursor: not-allowed;
  }
  
  /* Style pour les étiquettes et les champs de formulaire */
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  /* Ajuster la largeur des champs de formulaire */
  input {
    width: calc(100% - 20px); /* Réduire la largeur et ajouter un espacement */
    padding: 8px;
    border: 1px solid #ccc; /* Ajouter une bordure */
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  /* Style pour le formulaire en mode édition */
  form[ngIf="isEditing"] {
    margin-bottom: 20px;
  }
  
  /* Style pour le bouton de fermeture */
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 1.5em;
  }
  
  .close-button:hover {
    color: red;
  }

  // Ajoute une marge à gauche de 15px à tout le contenu
.container {
  margin-left: 15px;
}

// Ajoute une marge en bas de 15px aux boutons
.dialog-buttons {
  margin-bottom: 15px;
}

// Ajoute un espace entre les boutons
.dialog-buttons button {
  margin-right: 10px;
}

// Ajoute un espace entre les matform fields
.search-field {
  margin-bottom: 10px;
}

// Gère la largeur de l'input
#inputNombrePlaces {
  width: 200px; // Ajustez la largeur selon vos besoins
}

/* Ajoute une marge en bas de 10px au premier mat-form-field */
.search-field:first-child {
  margin-bottom: 10px;
}

// Ajoute une marge en bas de 15px aux boutons
.dialog-buttons {
  margin-bottom: 15px;
}

// Ajoute un espace entre les boutons
.dialog-buttons button {
  margin-right: 10px;
}

// Gère la largeur de l'input
#inputNombrePlaces {
  width: 200px; // Ajustez la largeur selon vos besoins
}

  