h2 {
    padding-top: 10px; 
    padding-left: 20px;
  }
  
  p {
    padding-left: 8px; /* Add margin at the bottom of paragraphs */
  }
  
  ul {
    padding: 20px;
  }
  
  li {
    padding-left: 20px; /* Add margin at the bottom of list items */
  }
  
  button {
    padding-left: 20px; 
    padding-bottom: 20px;
  }

  .dialog-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .close-button {
    cursor: pointer;
    font-size: 1.5em;
    margin-right: 10px;
  }
  
  .close-button:hover {
    color: red; /* Changez la couleur au survol si nécessaire */
  }

  .jeux {
    border: 1px solid black; /* Border color */
    border-radius: 10px; /* Border radius for rounded corners */
    padding: 10px; /* Optional padding for content inside the div */
  }
  
  /* Style for dialog-header to shift it to the left by 15px */
  .dialog {
    margin-left: 15px;
  }
 