<!-- inscription.component.html -->
<div class="dialog-header">
    <span class="close-button" (click)="onNoClick()">&times;</span>
  </div>

  <div class="dialog">
  <h2>Inscription</h2>
  <p>{{ data.creneau.jour }} - {{ data.creneau.heureDebut }} - {{ data.creneau.heureFin }}</p>
  <p>{{ data.espace.libelle }}</p>
  <p>Référent(s) du poste:</p> 
  <ul>
    <li *ngFor="let referent of referents">{{ referent.nom }} {{ referent.prenom }} - mail : {{ referent.email }} - tel : {{referent.numTel}} </li>
  </ul>
  
  <p>Volontaires précédents :</p>
  <ul>
    <li *ngFor="let volunteer of previousVolunteers">{{ volunteer.nom }} {{ volunteer.prenom }}</li>
  </ul>

<div class="jeux">
  <p> Jeux </p>
  <ul>
    <li *ngFor="let jeu of jeux">{{ jeu.nomJeu }} - {{ jeu.Notice }} - {{ jeu.nbJoueurs }}</li>
  </ul>
</div>
  
  <button (click)="onInscriptionClick()">S'inscrire</button>
</div>