<body>
  <div class="login-container">
    <img src="assets/images/logo2.png" alt="logo2" class="logo-image" />
    <h2>Festival du Jeu de Montpellier</h2>
    <form [formGroup]="loginForm">
      <div class="form-group">
        <label for="username">Nom d'utilisateur</label>
        <input type="text" id="pseudo" formControlName="pseudo" required>
      </div>
      <div class="form-group">
        <label for="password">Mot de passe</label>
        <input type="password" id="password" formControlName="password" required>
      </div>
      <div class="button-container">
        <button (click)="onSubmit()">Se connecter</button>
        <button (click)="openRegistrationPopup()">S'inscrire</button>
      </div>
    </form>
  </div>
</body>