<h2>Inscription(s) en attente</h2>

<mat-form-field class="search-field-festival">
  <mat-label>Sélectionner le festival</mat-label>
  <mat-select [(ngModel)]="selectedFestival" (selectionChange)="onFestivalChange($event)">
    <mat-option *ngFor="let festival of festivals" [value]="festival.idF">{{ festival.annee }}</mat-option>
  </mat-select>
</mat-form-field>

<div class="container">
<div class="search-fields-container">
  <mat-form-field class="search-field">
    <mat-label>Rechercher par espace</mat-label>
    <mat-select [(ngModel)]="selectedEspace" (selectionChange)="onEspaceChange($event)">
      <mat-option *ngFor="let espace of espaces" [value]="espace.idEspace">{{ espace.libelleEspace }}</mat-option>
    </mat-select>
  </mat-form-field>
  
  <mat-form-field class="search-field">
    <mat-label>Rechercher par jour</mat-label>
    <mat-select [(ngModel)]="selectedJour" (selectionChange)="onJourChange($event)">
      <mat-option *ngFor="let jour of jours" [value]="jour">{{ jour }}</mat-option>
    </mat-select>
  </mat-form-field>
  
  <mat-form-field class="search-field">
    <mat-label>Rechercher par créneau</mat-label>
    <mat-select [(ngModel)]="selectedCreneau" (selectionChange)="onCreneauChange($event)">
      <mat-option *ngFor="let creneau of creneaux" [value]="creneau.idC">{{ creneau.heureDebut }} - {{ creneau.heureFin }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
</div>

<div class="mat-elevation-z9">
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  
  <!-- Prénom Column -->
<ng-container matColumnDef="prenom">
  <th mat-header-cell *matHeaderCellDef mat-sort-header>Prénom</th>
  <td mat-cell *matCellDef="let user" (click)="afficherPlanningIndividuel(user.benevoleInfo?.pseudo)">{{ user.benevoleInfo?.prenom }}</td>
</ng-container>

 <!-- Nom Column -->
 <ng-container matColumnDef="nom">
  <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom</th>
  <td mat-cell *matCellDef="let user" (click)="afficherPlanningIndividuel(user.benevoleInfo?.pseudo)">{{ user.benevoleInfo?.nom }}</td>
</ng-container>

<!-- E-mail Column -->
<ng-container matColumnDef="email">
  <th mat-header-cell *matHeaderCellDef mat-sort-header>E-mail</th>
  <td mat-cell *matCellDef="let user" (click)="afficherPlanningIndividuel(user.benevoleInfo?.pseudo)">{{ user.benevoleInfo?.email }}</td>
</ng-container>

<!-- Tel Column -->
<ng-container matColumnDef="tel">
  <th mat-header-cell *matHeaderCellDef mat-sort-header>Tel</th>
  <td mat-cell *matCellDef="let user" (click)="afficherPlanningIndividuel(user.benevoleInfo?.pseudo)">{{ user.benevoleInfo?.numTel }}</td>
</ng-container>

<!-- Espace Column -->
<ng-container matColumnDef="espace">
  <th mat-header-cell *matHeaderCellDef mat-sort-header>Espace</th>
  <td mat-cell *matCellDef="let user" (click)="afficherPlanningIndividuel(user.benevoleInfo?.pseudo)">{{ user.espaceInfo?.libelleEspace }}</td>
</ng-container>

<!-- Jour Column -->
<ng-container matColumnDef="jour">
  <th mat-header-cell *matHeaderCellDef mat-sort-header>Jour</th>
  <td mat-cell *matCellDef="let user" (click)="afficherPlanningIndividuel(user.benevoleInfo?.pseudo)">{{ user.creneauInfo?.jourCreneau }}</td>
</ng-container>

<!-- Créneau Column -->
<ng-container matColumnDef="creneau">
  <th mat-header-cell *matHeaderCellDef mat-sort-header>Créneau</th>
  <td mat-cell *matCellDef="let user" (click)="afficherPlanningIndividuel(user.benevoleInfo?.pseudo)">{{ user.creneauInfo?.heureDebut }} - {{ user.creneauInfo?.heureFin }}</td>
</ng-container>

<ng-container matColumnDef="action">
  <th mat-header-cell *matHeaderCellDef>Action</th>
  <td mat-cell *matCellDef="let user">
    <ng-container *ngIf="user.isRegistration === false ; else candidatureActions">
       <!-- Display buttons for candidature -->
       <button mat-icon-button (click)="validerCandidature(user.benevoleInfo?.pseudo, user.creneauInfo?.idC, user.espaceInfo?.idEspace)">
        <mat-icon color="primary">check</mat-icon>
      </button>
      <button mat-icon-button (click)="supprimerCandidature(user.inscriptionId)">
        <mat-icon color="warn">clear</mat-icon>
      </button>
    </ng-container>
    <ng-template #candidatureActions>
     <!-- Display text for registration -->
     <span>Attente de validation de {{ user.benevoleInfo?.pseudo }}</span>
    </ng-template>
  </td>
</ng-container>


  <!-- Définition des colonnes -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
</div>
