h2 {
    margin-top: 30px;
    margin-left: 30px;
  }

  .search-field {
    width: 250px;
    height: 80px;
    flex: 1;
    margin-right: 5px; 
    margin-left: 5px;
  }
  
  .search-field-festival {
    width: 250px;
    height: 80px;
    margin-left : 15px;
  }
  

.container {
  display: flex;
  justify-content: center;
}
  
  /* Ajustez la hauteur de la barre de recherche */
  .mat-form-field {
    height: 20px; /* Ajustez la hauteur selon vos besoins */
  }
  
  /* Ajustez la hauteur du texte dans la barre de recherche */
  .mat-form-field-wrapper {
    line-height: 24px; /* Ajustez la hauteur selon vos besoins */
  }


.mat-column-prenom,
.mat-column-nom,
.mat-column-email,
.mat-column-tel,
.mat-column-espace,
.mat-column-jour,
.mat-column-creneau,
.mat-column-action {
  width: 12.5%;
}
  
