<div class="profil-benevole">
  <h2>Profil Bénévole</h2>
  <div class="informations-personnelles">
    <p><strong>Nom :</strong> {{ nom }}</p>
    <p><strong>Prénom :</strong> {{ prenom }}</p>
    <p><strong>Pseudo :</strong> {{ pseudo }}</p>
    <p><strong>Mail :</strong> {{ email }}</p>
    <p><strong>Association(s) :</strong> {{ associations }} </p>
  </div>


  <div class="preferences">
    <p><strong>Taille de T-shirt :</strong> {{ taille }}</p>
    <p><strong>Végétarien(ne) :</strong> {{ vegetarian ? 'Oui' : 'Non' }}</p>
    <p><strong>Festivals :</strong></p>
  <ul>
    <li *ngFor="let festival of festivals">Festival du Jeu Montpellier {{ festival }}</li>
  </ul>
  </div>
  
  <div class="referent">
    <ng-container *ngIf="roleUser === 3; else notReferent">
      <p>Referent : Oui</p>
    </ng-container>
    <ng-template #notReferent>
      <p>Referent : Non</p>
    </ng-template>
    <label *ngIf="role === 1">
      <input type="checkbox" *ngIf="role === 1" [checked]="roleUser === 3" (change)="onCheckboxChange($event)"> Référent
    </label>
    <ng-container *ngIf="roleUser === 4; else notGestionnaire">
      <p>Gestionnaire : Oui</p>
    </ng-container>
    <ng-template #notGestionnaire>
      <p>Gestionnaire : Non</p>
    </ng-template>
    <label *ngIf="role === 1">
      <input type="checkbox" *ngIf="role === 1" [checked]="roleUser === 4" (change)="onCheckboxChange($event)"> Gestionnaire
    </label>
    
    
  </div>
</div>
