h2 {
    margin-top: 15px;
    margin-left: 15px
}

/* For the second table (Liste d'Hébergements) */
.mat-column-adresseHebergement,
.mat-column-nbPlaces,
.mat-column-pseudo,
.mat-column-email,
.mat-column-numTel {
  width: 20%;
}


  