<div class="planning-container">
  <mat-form-field class="search-field">
    <mat-label>Sélectionner le festival</mat-label>
    <mat-select [(ngModel)]="selectedFestival" (selectionChange)="onFestivalChange($event)">
      <mat-option *ngFor="let festival of festivals" [value]="festival.idF">{{ festival.annee }}</mat-option>
    </mat-select>
  </mat-form-field>
  <div class="action-buttons" *ngIf="admin">

    <button (click)="openFestivalDialog()">Gestion Festival</button>
  
    <!-- Creneau actions -->
    <button (click)="openCreneauDialog()">Gestion Creneaux</button>
  
    <!-- Poste actions -->
    <button (click)="openPosteDialog()">Gestion Postes</button>
  
    <!-- Modifier le nombre de places -->
    <button (click)="openModifierPlacesDialog()">Gestion Places</button>
  </div>
  <table>
    <thead>
      <tr>
        <th></th> <!-- Cellule vide pour l'angle supérieur gauche -->
        <th *ngFor="let jour of jours" [attr.colspan]="getCreneauxByJour(jour).length">
          {{ jour }}
        </th>
      </tr>
    </thead>
    <tbody>
      <!-- Header row with time slots -->
      <tr>
        <td></td>
        <ng-container *ngFor="let jour of jours">
          <td *ngFor="let creneau of getCreneauxByJour(jour)">
            <div class="creneau-container">
              {{ creneau.heureDebut }} - {{ creneau.heureFin }}
              <button (click)="onCreneauSelect(creneau)" *ngIf="userRole != 1">Selectionner</button>
            </div>
          </td>
        </ng-container>
      </tr>      
      <!-- Data rows for each poste and their available spaces -->
      <ng-container *ngFor="let poste of postes">
        <tr>
          <td>{{ poste.libellePoste }}</td>
          <ng-container *ngFor="let jour of jours">
            <td *ngFor="let creneau of getCreneauxByJour(jour)">
              <button (click)="onButtonClick(creneau, poste)" [disabled]="placesRestantes(creneau.idC, poste.idP) <= 0">
                {{ placesRestantes(creneau.idC, poste.idP) }}
              </button>
            </td>
          </ng-container>
        </tr>
      </ng-container>
    </tbody>
  </table>
  <div *ngIf="aPlusieursEspaces == true">
    <h4>Veuillez sélectionner un espace</h4>
  <table>
    <thead>
      <tr>
        <th></th> <!-- Cellule vide pour l'angle supérieur gauche -->
        <th *ngFor="let jour of jours" [attr.colspan]="getCreneauxByJour(jour).length">
          {{ jour }}
        </th>
      </tr>
    </thead>
    <tbody>
      <!-- Header row with time slots -->
      <tr>
        <td></td>
        <ng-container *ngFor="let jour of jours">
          <td *ngFor="let creneau of getCreneauxByJour(jour)">
            {{ creneau.heureDebut }} - {{ creneau.heureFin }}
          </td>
        </ng-container>
      </tr>
      
      <!-- Data rows for each poste and their available spaces -->
      <ng-container *ngFor="let espace of espacesPostes">
        <tr>
          <td>{{ espace.libelleEspace }}</td>
          <ng-container *ngFor="let jour of jours">
            <td *ngFor="let creneau of getCreneauxByJour(jour)">
              <button (click)="onButtonClickEspace(creneau, espace)" [disabled]="placesRestantes(creneau.idC, espace.idEspace) > 0">
                {{ placesRestantesEspaces(creneau.idC, espace.idEspace) }}
              </button>
            </td>
          </ng-container>
        </tr>
      </ng-container>
    </tbody>
  </table>
  </div>
</div>

