h2 {
    margin-top: 30px;
    margin-left: 30px;
  }

  .search-field {
    width: 250px;
    height: 80px;
    margin-left : 15px;
    flex: 1;
  }
  
  
  .mat-select {
    height: 10px; 
  }
  
  .search-fields-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    margin : auto;
  }
  
  .mat-elevation-z8 {
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
  }
  
  /* Si vous souhaitez également centrer horizontalement les cellules de la table */
  .mat-table {
    width: 100%;
  }