h2, button {
  margin-top: 30px;
  margin-left: 30px;
}


.container {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.container-search {
  display: flex;
  justify-content: center;
}


  .search-field {
    width: 250px;
    height: 80px;
    flex: 1;
    margin-right: 5px; 
    margin-left: 5px;
  }
  
  .search-field-festival {
    width: 250px;
    height: 80px;
    flex:1;
    margin-left : 15px;
  }
  
  .mat-select {
    height: 10px; 
  }
  


  .mat-elevation-z8 {
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
  }
  
 
  .mat-column-prenom,
  .mat-column-nom,
  .mat-column-email,
  .mat-column-tel,
  .mat-column-espace,
  .mat-column-jour,
  .mat-column-poste,
  .mat-column-creneau {
    width: 12%; 
  }