h2 {
  margin-top: 100px;
  margin-left: 30px;
  text-align: center;
}

.search-field {
  width: 200px;
  height: 80px;
  margin-left : 15px;
  flex: 1;
}

/* Ajustez la hauteur de la barre de recherche */
.mat-form-field {
  height: 20px; /* Ajustez la hauteur selon vos besoins */
}

/* Ajustez la hauteur du texte dans la barre de recherche */
.mat-form-field-wrapper {
  line-height: 24px; /* Ajustez la hauteur selon vos besoins */
}