<div class="horizontal-menu">
  <a routerLink="/profile">Profil</a>
  <a routerLink="/planning-general" *ngIf="userRole === 1">Planning</a>
  <a routerLink="/planning-individual" *ngIf="userRole === 1 || userRole === 2 || userRole === 3 || userRole === 4">Planning Individuel</a>
  <a routerLink="/planning" *ngIf="userRole === 1 || userRole === 2 || userRole === 3 || userRole === 4">Planning Inscription</a>
  <a routerLink="/inscription-attente" *ngIf="userRole === 1">Inscription en attente</a>
  <a routerLink="/inscription-attente-benevole" *ngIf="userRole === 2 || userRole === 3 || userRole === 4">Inscription en attente</a>
  <a routerLink="/liste" *ngIf="userRole === 1">Liste Bénévoles</a>
  <a routerLink="/import" *ngIf="userRole === 4">Import csv</a>
  <a (click)="logout()">Déconnexion</a>
</div>
