.horizontal-menu {
  display: flex;
  justify-content: space-around; /* Ou une autre propriété selon votre préférence */
  align-items: center; /* Pour centrer verticalement les éléments */
  background-color: #3498db; /* Couleur de fond du menu */
  color: white; /* Couleur du texte */
  padding: 10px; /* Espace intérieur du menu */
}

.horizontal-menu a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

.horizontal-menu a:hover {
  background-color: #f1f1f1;
  color: #3498db;
}

/* Style supplémentaire pour les liens actifs si nécessaire */
.horizontal-menu a.router-link-active {
  background-color: #f1f1f1;
  color: #3498db;
}

.logo-image {
  margin : 0;
  width: 65px; /* Spécifiez la largeur souhaitée */
  height: auto; /* La hauteur sera ajustée de manière proportionnelle en fonction de la largeur */
}
