<div class="profile">
    <h2>Mon Profil</h2>
    <div class="form-group">
      <label for="nom">Nom</label>
      <p>{{ user.nom }}</p>
    </div>
    <div class="form-group">
      <label for="prenom">Prénom</label>
      <p>{{ user.prenom }}</p>
    </div>
    <div class="form-group">
      <label for="mail">Mail</label>
      <p>{{ user.mail }}</p>
    </div>
    <div class="form-group">
      <label for="telephone">Téléphone</label>
      <p>{{ user.phone }}</p>
    </div>
    <button (click)="navigateToModificationProfile()">Modifier le profil</button>
  </div>