<app-navigation></app-navigation>
<div class="planning-container">
  <table>
    <thead>
      <tr>
        <th></th> <!-- Cellule vide pour l'angle supérieur gauche -->
        <th *ngFor="let jour of jours" [attr.colspan]="getCreneauxByJour(jour).length">
          {{ jour }}
        </th>
      </tr>
    </thead>
    <tbody>
      <!-- Header row with time slots -->
      <tr>
        <td></td>
        <ng-container *ngFor="let jour of jours">
          <td *ngFor="let creneau of getCreneauxByJour(jour)">
            {{ creneau.heureDebut }} - {{ creneau.heureFin }}
          </td>
        </ng-container>
      </tr>
      
      <!-- Data rows for each poste and their available spaces -->
      <ng-container *ngFor="let poste of postes">
        <tr>
          <td>{{ poste.libellePoste }}</td>
          <ng-container *ngFor="let jour of jours">
            <td *ngFor="let creneau of getCreneauxByJour(jour)">
              <ng-container *ngIf="posteEspacesMapping[poste.idP]">
                {{ calculateTotalPlaces(creneau.idC, poste.idP) }}
              </ng-container>
            </td>
          </ng-container>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
